<hr>
<div class="footer center" id="footer">
    <a class="link" href="https://github.com/gavincabbage"><i data-feather="github" class="feather16"></i></a>
    <a class="link" href="https://twitter.com/gavincabbage"><i data-feather="twitter" class="feather16"></i></a>
    <a class="link" href="https://www.linkedin.com/in/gavin-cabbage-9b31b376"><i data-feather="linkedin" class="feather16"></i></a>
    <a class="link" href="mailto:me@gavincabbage.com"><i data-feather="mail" class="feather16"></i></a>
</div>