.p-menu__lists {
    justify-content: center;
}

.p-menu__listitem {
    text-align: center;
}

.img-zoomable {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.img-small-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}